# This is a day 1 of python
## This is a comment info

In [3]:
print ("Hello World!")

Hello World!

In [13]:
name = "Aryan"
print(name)
lastname = "Sawardekar"
print(lastname)

print("name")

Aryan
Sawardekar
name

In [14]:
num1 = 10
print(num1)
print(num) #this is an interpreted error.

10

In [19]:
num_2 = 25
print(num_2, num_3)
num_3 = 30
print(num_3)
num_4 = 45
print(num_4)

25 30
30
45

In [20]:
name = "Aryan"
print(name) #No special characters to be used.

Aryan

In [2]:
firstname = "Aryan"
Firstname = "Ayushi"
print(firstname)
print(Firstname)

Aryan
Ayushi

In [28]:
true = 123
print(true) #NO use of in-built keywords

123

In [ ]:
# Implicit & Explicit

# Implicit: understand the datatype itself
# Explicit: User tells what type of data it is

In [29]:
a = 12345.6789
type(a)

float

In [30]:
b = 123
type(b)
print(type(b))

<class 'int'>

In [32]:
c = "hello"
print(type(c))
print(c)

<class 'str'>
hello

In [33]:
d = 1234.567
e = int(d)
type(e)
print(e)

1234

In [38]:
q = "234"
w = float(q)
print(w)

234.0

In [ ]:
#BUILT-IN FUNCTIONS
## In python there are some pre-defined code logics to perform some specific task.

In [1]:
#Print 

a = "Aryan"
print(a)

Aryan

In [3]:
print(8+1)
print("The ans is",8+1)

9
The ans is 9

In [17]:
#Type - Helps understand nature of data.

new = {"Aryan"}
type(new)
new1 = {"city":"Bombay"}
type(new1)

dict

In [9]:
type(10+9j)

complex

In [11]:
#LENGTH - Helps to understand number of characters. Doesn't work for none, type, bool, numeric datatypes but only string data.

data = "aryan"
len(data)

5

In [18]:
#INPUT - An input box used to give multiple values to a particular cell. It is mainly used for loops and conditional statements.

name = input()
print(name)

 Ricky

Ricky

In [25]:
numA = input()
numB = input()
print(numA + numB)

print(type(numA))
print(type(numB))

 10
 80

1080
<class 'str'>
<class 'str'>

In [23]:
numA = int(input())
numB = int(input())
print(numA + numB)

 10
 80

90

In [26]:
#find the perimeter of trianhgle.

s1=int(input())
s2=int(input())
s3=int(input())
print(s1+s2+s3)

 3
 4
 5

12

In [29]:
#OPERATORS

#ASSIGNMENT OP - '='\
a = 10
print(10)

m1 = m2 = m3 = 100 #eg of in-line comment.
print(m2)

10
100

In [31]:
name, age, loc, job = "Aryan",21,"Malad","Analyst"
print(name, age, loc, job)

Aryan 21 Malad Analyst

In [33]:
a = 10

In [37]:
a = a+5
print(a)

30

In [54]:
a+=5
print(a)

110

In [ ]:
#ARITHMETIC OPS - Used to do mathematical calculations like add, subt, mul, div.

""" 
This is 
a multiple 
line comment
"""

a=2,b=4

Addition:(a+b)
Subtraction:(a-b)
Multiplication:(a*b)
Division:(a/b)
Floor div:(a//b)
Modulus:(a%b)
Exponential:(a**b)

In [55]:
# RELATIONAL OPS - True/False

In [ ]:
# LOGICAL OPS - AND, OR, NOT
'''
AND - ALL VALUES TO BE SATISFIED
OR- EITHER OF THE CONDITIONS TO BE SATISFIED
NOT - NONE OF THEM IS TRUE.
'''

In [56]:
a=30
b=20
c=25

In [57]:
#AND

a<35 and b<=20 and c>15

True

In [60]:
#NOT

not a<40

False

In [ ]:
# IDENTITY OPS - They try to check the variables are identical or not.
'''
is - true when both values same
is not - true if both values do not have same values
'''

In [61]:
a = 30.0
b = 30
c = 35

In [62]:
print(a is b)
print(a is not c)

False
True

In [63]:
a==b

True

In [64]:
# MEMBERSHIP OPS - Try to find the values used are part of members of particular sequence

## in - true when values is part of sequence
## not in - true when values are not part of sequence

In [69]:
lang = "We are studying python"
print("ar" in lang)
print("a r" in lang)
print("python" in lang)
print("e s" in lang)
print("are" not in lang)

True
False
True
True
False

In [ ]:
# CONDITIONAL STATEMENTS - Executes when specified condition is to be true.

In [72]:
# IF Statement

marks=45

if marks>35:
    print("PASS!")
    new = marks+10
    print("my updates score is",new)

PASS!
my updates score is 55

In [77]:
age = int(input("Age:"))

if age>=18:
    print("Yes!")

Age: 18

Yes!

In [80]:
marks=int(input("Marks:"))

if marks>35:
    print("PASS!")
else:
    print("FAIL!!")

Marks: 99

PASS!

In [82]:
val = 10

if val>=30 and val<=40:
    print("Above 30")
else:
    print("Below 40")

Below 40

In [85]:
num=45

if num%3==0:
    print("It is Multiple of 3")
else:
    print("Not a multiple of 3")

It is Multiple of 3

In [88]:
# IF ELIF ELIF ELSE STATEMENTS

marks=34

if marks>=85:
    print("A")
elif marks>=75:
    print("B")
elif marks>=60:
    print("C")
elif marks>=50:
    print("D")
elif marks>=35:
    print("E")
else:
    print("F")

F

In [90]:
month=input("Month:")

if month == "apr" or month == "may" or month == "june":
    print("Q1 of FY")
elif month == "july" or month == "aug" or month == "sept":
    print("Q2 of FY")
elif month == "oct" or month == "nov" or month == "dec":
    print("Q3 of FY")
elif month == "jan" or month == "feb" or month == "mar":
    print("Q4 of FY")
else:
    print("Wrong month")

Month: sept

Q2 of FY

In [ ]:
month=input("Month:")

if month in ("apr","may","june"):
    print("Q1 of FY")
elif

In [2]:
#NESTED IF-ELSE

number = 63

if number%3==0:
    print("The no is divisible by 3")
    if number%5==0:
        print("The no is divisible by 3 and 5")
    else:
        print("The no is only divisible by 3")
else:
    print("The no is not divisible by 3")

The no is divisible by 3
The no is only divisible by 3

In [11]:
#1

number=63
if number%3 and number%5==0:
    print("The no is divisible by 3 and 5")
else:
    print("The no is not divisible by 3 nor 5")

The no is not divisible by 3 nor 5

In [12]:
#2

marks = 99

if marks <= 100 and marks>=0:
    if marks>=85:
        print("A")
    elif marks>=75:
        print("B")
    elif marks>=60:
        print("C")
    elif marks>=50:
        print("D")
    elif marks>=35:
        print("E")
    else:
        print("F")
else:
    print("Invalid marks!")

A

In [10]:
#3 IF-ELSE(IF-ELSE)

A = 35
B = 45

if A>B:
    print("A is grt")
else:
    if A>30:
        print("A is grt than 30")
    else:
        print("A less than 30") # -*-*-*-

A is grt than 30

In [13]:
# LOOPS - PROGRAMMING CONSTRUCTS OR LOGICS THAT EXECUTE 'N' NUMBER OF TIMES.
''' 
TYPES:
1. FOR - ITERATIVE LOOP
2. WHILE - CONDITIONAL LOOP
3. DO-WHILE (DOESN'T EXIST IN PYTHON)

INCREMENT - LOWER TON HIGHER.
DECREMENT - HIGHER TO LOWER.

PRE-INC/DECR
POST-INC/DECR 

'''

" \nTYPES:\n1. FOR - ITERATIVE LOOP\n2. WHILE - CONDITIONAL LOOP\n3. DO-WHILE (DOESN'T EXIST IN PYTHON)\n"

In [14]:
i = 0  #INITIALIZER
while i<=5:  #CONDITION
    print("The no is",i)  #STATEMENT
    i = i+1  #POST-INCREMENT
else:
    print("Out of loops")

The no is 0
The no is 1
The no is 2
The no is 3
The no is 4
The no is 5
Out of loops

In [15]:
i = 0  #INITIALIZER
while i<=5: #CONDITION
    i = i+1  #PRE-INCREMENT
    print("The no is",i)  #STATEMENT
else:
    print("Out of loop")

The no is 1
The no is 2
The no is 3
The no is 4
The no is 5
The no is 6
Out of loop

In [18]:
x = 100
while x>=50:
    print("The no is:",x)
    x = x-5
else:
    print("Out of loops")

The no is: 100
The no is: 95
The no is: 90
The no is: 85
The no is: 80
The no is: 75
The no is: 70
The no is: 65
The no is: 60
The no is: 55
The no is: 50
Out of loops

In [17]:
x = 100
while x>=50:
    x = x-5
    print("The no is:",x)
else:
    print("Out of loops")

The no is: 95
The no is: 90
The no is: 85
The no is: 80
The no is: 75
The no is: 70
The no is: 65
The no is: 60
The no is: 55
The no is: 50
The no is: 45
Out of loops

In [22]:
''' find out that each no btw 10 to 20 is even or odd using WHILE loop.
'''
x = 10
while x<=20:
    if x%2==0:
        print(x,"-even")
    else:
        print(x,"-odd")
    x = x + 1

10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd
16 -even
17 -odd
18 -even
19 -odd
20 -even

In [25]:
i = 100

while i>=70:
    if i%10==0:
        if i%5==0:
            print(i,"Div by 10 and 5")
        else:
            print(i,"NOT div by 10 and 5")
    else:
        print(i,"NOT div by 5")
    i = i-2

100 Div by 10 and 5
98 NOT div by 5
96 NOT div by 5
94 NOT div by 5
92 NOT div by 5
90 Div by 10 and 5
88 NOT div by 5
86 NOT div by 5
84 NOT div by 5
82 NOT div by 5
80 Div by 10 and 5
78 NOT div by 5
76 NOT div by 5
74 NOT div by 5
72 NOT div by 5
70 Div by 10 and 5

In [31]:
#print 9 times table using while

i=9
a=1

while a<=10:
    print("9*",i,"=",i*a)
    a = a+1

9* 9 = 9
9* 9 = 18
9* 9 = 27
9* 9 = 36
9* 9 = 45
9* 9 = 54
9* 9 = 63
9* 9 = 72
9* 9 = 81
9* 9 = 90

In [ ]:
# FOR LOOPS :-

In [33]:
nos = [3,8,10,15,22,30,44]
for i in nos:
    print(i*2)

6
16
20
30
44
60
88

In [35]:
# in list below, print nos divisible by 5
# num=[34,56,78,9,8,7,5,35,57,35]

num=[34,56,78,9,8,7,5,35,57,35]
for i in num:
    if i%5==0:
        print(i,"is div by 5")
    else:
        print(i,"not div by 5")

34 not div by 5
56 not div by 5
78 not div by 5
9 not div by 5
8 not div by 5
7 not div by 5
5 is div by 5
35 is div by 5
57 not div by 5
35 is div by 5

In [36]:
# Tell which nos are ODD and EVEN

list=[23,34,4,2,45,34,56]
for i in list:
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

23 is odd
34 is even
4 is even
2 is even
45 is odd
34 is even
56 is even

In [37]:
# prev q using append

list1=[23,34,4,2,45,34,56]
odd=[]
even=[]

for i in list1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("odd nos in list1 are: ",odd)
print("even nos in list1 are: ",even)

odd nos in list1 are:  [23, 45]
even nos in list1 are:  [34, 4, 2, 34, 56]

In [1]:
 list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
num = int(input('Enter number: '))
for x in range(2,num):
    if num > 1:
        if num % x==0:
            print("it is not a prime number")
            break
else:
    print("it is a prime number")

Enter number:  81

it is not a prime number

In [8]:
#CONTINUE - JUMP STATEMENT TO SKIP EXECUTION OF CURRENT ITERATION.

a=0
while a<=10:
    a=a+1
    if a%2==0:
        continue
    print(a)

print("loop ends here")

1
3
5
7
9
11
loop ends here

In [10]:
#PASS - KEYWORD USED TO EXECUTE NOTHING.

for num in range(10):
    num = num+1
    if num==5:
        pass 
    print("Number is",num)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10

In [11]:
for num in range(10):
    num = num+1
    if num==5:
        print("No is",num)

No is 5

In [ ]:
#FUNCTIONS - BLOCK OF CODE USED TO PERFORM A SPECIFIC TASK OR SET OF TASKS.

#TYPES: PRE-DEFINED and USER-DEFINED
'''
TERMINOLOGIES:  [PRE-REQUISITES FOR CREATING A FUNCTION]

FUNCTION NAME
FUNCTION DEFINITION; LOGIC BEHIND CREATING THE FUNCTION
FUNCTION CALL/EXECUTE; eg: print()
PARAMETER; SET OF VALUES REQUIRED TO AMKE THE FUNCTION RUN OR EXECUTE
RETURN; IT WILL RETUEN OR DISPLAY THE OUTPUT WHEN THE FUNCTION IS BEING EXECUTED.
'''

#PRE-DEFINED FUNCTIONS - ALSO KNOWN AS BUILT-IN FUNCTIONS THAT ARE ALREADY DEFINED IN PYTHON

#USER-DEFINED FUNCTIONS - ALSO KNOWN AS CUSTOMIZABLE FUNCTIONS. HERE, THE LOGIC NOT PRE-WRITTEN, WE NEED  TO CREATE THE LOGIC FROM SCRATCH.
'''
PARTS OF UDF'S:
1. PARAMETERIZED: FUNCTIONS REQUIRING SOME SET OF VALUES TO BE USED WITHIN THE FUNCTION TO EXECUTE
    SYNTAX:
    def function_name (parameters):
        Statements
        Statements
        Statements
        RETURN value/expressions  

2. PARAMETER-LESS: THESE FUNCTIONS DO NOT REQUIRE ANY SET OF VALUES TO BE USED WITHIN THE FUNCTION TO EXECUTE.

3. LAMBDA: ALSO KNOWN AS ANONYMOUS FUNCTIONS- NAMELESS or UNKNOWN FUNCTIONS. THEY ARE SHORTER OR ONE-LINE FUNCS USED TO PERFORM SHORTER/SMALLER TASKS.
        LAMBDA ARE NEVER CRATED BY 'def' KEYWORD. NO INDENTATION OR RETURN IS REQUIRED. HAVE 'N' NO OF PARAMETERS BUT ONLY 1 EXPRESSION. NEEDS A 
        VARIABLE TO STORE.
        
        SYNTAX:
        lambda parameters: expression

In [15]:
?range # Docstring - Used to find out the description of the built-in functions.

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [16]:
def equal(x,y):
    if x==y:
        return"No.s are equal"
    else:
        return"No.s are NOT equal"

In [18]:
equal(10,10)

'No.s are equal'

In [19]:
sq=lambda x:x**2

In [6]:
#DATA STRUCTURES

#1. NUMBERS 

a=34
type(a)
float(a)

b=34245.4564
print(type(b))

c= int(b)
print(c)

d=3+5j
print(type(d))

d.real
d.imag

<class 'float'>
34245
<class 'complex'>

5.0

In [12]:
#math is library used for mathematical operations
import math 

print(math.sqrt(144))

print(math.floor(10//2))

print(math.pow(16,3))

print(math.factorial(6))

print(round(math.pi,4))

print(math.pi)

math.

12.0
5
4096.0
720
3.1416
3.141592653589793

In [98]:
import random as rm #Alaising

print(rm.random())

print(rm.randint(1,50))

print(rm.uniform(50,100))


x=[1,2,3,4,5,6]
print(rm.choice(x)) # Randomly pull out data

z=['A','B','C','D','E']
print(rm.choice(z)) # Also works for string

rm.seed(1)

0.13436424411240122
49
53.15534109438546
1
D

In [104]:
# 2. STRINGS 

lang="Python prog"
print(lang)

sent='The session is about \"Data structures\".'
print(sent)

new='''
we are studying python and python
is a dynamic lang.
'''
print(new)

values='123456'
print(type(values))

Python prog
The session is about "Data structures".

we are studying python and python
is a dynamic lang.

<class 'str'>

In [108]:
# STRING CONCATENATION 
# We can connect strings together. Merging or connecting strings is called concatenation.

firstname="Aryan "
lastname="Sawardekar"

fullname = firstname + lastname
print(fullname)

age = " 20" #will give errors for other datatypes. Concatenate only works on string data.
print(fullname + age)

Aryan Sawardekar
Aryan Sawardekar 20

In [114]:
# STRING REPLICATION

# Operator used to repeat a string n number of times.
# The string will be reapeated n number of times which is given by an integer value.

print("Python"*3)
print()
print("Python\t"*5)
print()
print("Python\n"*5)

PythonPythonPython

Python	Python	Python	Python	Python

Python
Python
Python
Python
Python

In [ ]:
# STRING FORMATTING

# a) Format
# b) f-String

In [119]:
name = "Aryan"
state = "Bangalore"
lang = "Java"
age = 21
print('My name is',name,'.Lives in',state,'.Is learning',lang,'. at the age of',age)
print(f'My name is {name}. Lives in {state}.Is learning {lang}, at age of {age}' ) # f-string
print('My name is {}. Lives in {}.Is learning {}, at age of {}'.format(name,state,lang,age))

My name is Aryan .Lives in Bangalore .Is learning Java . at the age of 21
My name is Aryan. Lives in Bangalore.Is learning Java, at age of 21
My name is Aryan. Lives in Bangalore.Is learning Java, at age of 21

In [120]:
a=5
b=6

print('{} + {} = {}'.format(a,b,a+b))
print('{} + {} = {}'.format(a,b,a-b))
print('{} + {} = {}'.format(a,b,a*b))
print('{} + {} = {}'.format(a,b,a/b))

print('{} + {} = {}'.format(a,b,a%b))
print('{} + {} = {}'.format(a,b,a//b))
print('{} + {} = {}'.format(a,b,a**b))

5 + 6 = 11
5 + 6 = -1
5 + 6 = 30
5 + 6 = 0.8333333333333334
5 + 6 = 5
5 + 6 = 0
5 + 6 = 15625

In [123]:
i = 1 

num = int(input("Ener number"))

while i<=10:
    print(f'{num}*{i}={num*i}')
    i=i+1

Ener number 19

19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190

In [124]:
# SLICING : In python, we can slice into sub-strings. Start value shoul be lower, end value should be higher.

new="we are studying python."
len(new)

23

In [125]:
new[2:5]

' ar'

In [126]:
new[3:15]

'are studying'

In [128]:
new[-4:-15]

new[8:19]

'tudying pyt'

In [129]:
new[-15:-4]

'tudying pyt'

In [130]:
new[2:15:3]

' etyg'

In [131]:
new[-3:-10]

''

In [133]:
new[-15:-10]

'tudyi'

In [134]:
new[:]

'we are studying python.'

In [135]:
new[:6]

'we are'

In [137]:
new[3:]

'are studying python.'

In [138]:
x  = "hello! how are you?"
x[::-1] # [start : end : skip]

'?uoy era woh !olleh'

In [140]:
# STRING METHODS

# capitalize() : converts first character of the string of capital letter.

text = "today is beninging of python"
text.capitalize()

'Today is beninging of python'

In [141]:
# PROPER : Will capitalize the first letter for each word.

text.title()

'Today Is Beninging Of Python'

In [142]:
# SWAPCASE : Converts lower to upper and vice-versa.

q = "mY nAME iS aRYAN"
q.swapcase()

'My Name Is Aryan'

In [145]:
# COUNT : 

new = "Python was easy today, it's going to get harder"
new.count('i')

2

In [146]:
# isalnum : Checks for alphabetic and numeric

words="Tsklfndskjfnjn87767898"
words.isalnum()

True

In [149]:
# isaplha() : Checks if all string elements are alphabets or not.

data="asnjklasjd987897"
data.isalpha()

False

In [151]:
# islower : Checks if alphabets are in lowercase

data="kjsfasfsdvrevxDAD"
data.islower()

False

In [153]:
# isupper : Checks if alphabets are in uppercase.

data="HGHJHJK"
data.isupper()

True

In [154]:
# isdigit : Checks if numbers

data="1433324"
data.isdigit()

True

In [158]:
# replace() : replaces substring with given string

sent="I hope to see you soon"
sent.replace("to","not to")

'I hope not to see you soon'

In [2]:
# FIND() : The find() method finds the first occurence of the specified value. 
# This method returns -1 if value not found

new_sent = "This is a sample of new sent sentence. "

In [5]:
new_sent.find("i")

2

In [6]:
new_sent.find("amp")

11

In [ ]:
# INDEX : Finds the first occurence if specifies value
# Raises exception if value is not found.
# Almost as same as find() method but diff is it shows error.

In [7]:
new_sent = "This is a sample of new sent sentence."

new_sent.index("i")

2

In [8]:
new_sent.index("amp")

11

In [10]:
new_sent.index("amp") # gives error when  data is incorrect

11

In [ ]:
# SPLIT : splits a string into a list.

In [16]:
para="Python-is-a-programming-language.-Python-is-interesting."

new_str = para.split("-")
new_str

# for i in para:
#     if len(i)<8:
#         print(i)

['Python',
 'is',
 'a',
 'programming',
 'language.',
 'Python',
 'is',
 'interesting.']

In [18]:
new_str = para.split("-")
for i in new_str:
    if len(i)<8:
        print(i)

Python
is
a
Python
is

In [29]:
data="lakjfkljJLLSdnjvns&^43232afhkmi39ewf"

ltrs = 0
digits = 0
sp_char = 0

for x in data:
    if x.isalpha():
        ltrs+=1
    elif x.isdigit():
        digits+=1
    else:
        sp_char+=1

print(f'There are {ltrs} letters in the string')
print(f'There are {digits} numbers in the string')
print(f'There are {sp_char} special characters in the string')

# data.isalnum()
# data.isalpha()

There are 27 letters in the string
There are 7 numbers in the string
There are 2 special characters in the string

In [31]:
# LIST : Collection of diff datatypes which is ordered and modifiable.

list1 = [] #Allows empty list
print(list1)
type(list1)

[]

list

In [33]:
list2 = {4,7,2,9,3,6} #Allows same datatype list
print(list2)
type(list2)

{2, 3, 4, 6, 7, 9}

set

In [35]:
#Allows mixed data list
list3 = [2,3,4,5,598,"xyz",27,True, None, 5-4j, [5,6,7.23,'muscle'],(3,4,2,5,12,99)]
type(list3)

list

In [36]:
#List preserve order/ inside values

list4 = [6,4,3,'kjsd',876.3,-9,'yacp']
print(list4)

[6, 4, 3, 'kjsd', 876.3, -9, 'yacp']

In [38]:
# Concatenate

list1=[2,3,5,1,6,56,34,-1]
x = [56]

list1 + x

[2, 3, 5, 1, 6, 56, 34, -1, 56]

In [49]:
# Update : Changing old values entirely with new values.

new_l=[54,3,5,2,0,543,"etc",32,4]
new_l

[54, 3, 5, 2, 0, 543, 'etc', 32, 4]

In [41]:
new_l [2] = -11
new_l

[54, 3, -11, 2, 0, 543, 'etc', 32, 4]

In [52]:
new_l[0:2] = [10]
new_l

[10, 2, 0, 543, 'etc', 32, 4]

In [ ]:
# DELETE : Del statement can be used to delete an element from the list. Also deletes items from start index to end index.

In [56]:
new_l=[54,3,5,2,0,543,"etc",32,4] 

del new_l [-1]
new_l

[54, 3, 5, 2, 0, 543, 'etc', 32]

In [ ]:
# LIST METHOD : Collection of mixed datatypes. Separated values within square brackets. '[]'

In [59]:
l1 = [23,45,12,34,25,65,87,89]
l1.append(99)
l1

[23, 45, 12, 34, 25, 65, 87, 89, 99]

In [61]:
l1.append([2,4,6])
l1

[23, 45, 12, 34, 25, 65, 87, 89, 99, [2, 4, 6], [2, 4, 6]]

In [71]:
cars = ['BMW','Porsche','Ferrari','Tata','Nissan','Benz']

new_cars = []
for i in cars:
    if "e" in i:
        new_cars.append(i)
        print(new_cars)

['Porsche']
['Porsche', 'Ferrari']
['Porsche', 'Ferrari', 'Benz']

In [27]:
# COUNT 

s1=[2,3,4,6,6,2,8,6,[3,4,6,3]]
s1.count(6)
s1[-1].count(3)

2

In [80]:
# MAX - Returns elements of list with maximum value

max(s1)

TypeError: '>' not supported between instances of 'list' and 'int'

In [82]:
s2=[2,3,4,1,4,45,23,544,900]
max(s2)
min(s2)

1

In [88]:
# EXTEND - Adds contents of sequence of list

s3=[1,2,3,4,5]
s3.extend('python')
s3.extend([6,7,8,9])

s3

[1, 2, 3, 4, 5, 'p', 'y', 't', 'h', 'o', 'n', 6, 7, 8, 9]

In [91]:
s3.index(6)

11

In [5]:
# INSERT - Inserts value in the index point

s4=[2,3,4,5,1,43,]
s4.insert(3,99)
s4.insert(4,[7,8,9])
s4[4].insert([3,'abc','xyz'])
s4

TypeError: insert expected 2 arguments, got 1

In [7]:
# POP : Removes and returns the last value/object from the list.

s4=[3,5,2,6,[34,4,2,6,8,43],132,5,1]
s4.pop()

1

In [8]:
s4

[3, 5, 2, 6, [34, 4, 2, 6, 8, 43], 132, 5]

In [9]:
s4.pop(4)

[34, 4, 2, 6, 8, 43]

In [10]:
s4

[3, 5, 2, 6, 132, 5]

In [ ]:
# TUPLE : Collection of diff datatypes which is ordered and unchangeable(immutable).

In [12]:
t1=()
print(type(t1))

<class 'tuple'>

In [14]:
T = (23,) # Comma after value in bracket makes it tuple.
print(type(T))

<class 'tuple'>

In [15]:
t3 = (23,'abcd',43,56,'34sd5',True, 23.1,[3,4,5]) # Allows Mixed-data
type(t3)

tuple

In [20]:
t4 = (34,65,2,2,2,67,9) # Allows repeated data/values.
t4

(34, 65, 2, 2, 2, 67, 9)

In [26]:
t1 = (45,45,2,4,5,6,7,8,9,34,5,23,67)

even = []
odd = []

for i in t1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print(f'There are {even} even and {odd} odd values')

There are [2, 4, 6, 8, 34] even and [45, 45, 5, 7, 9, 5, 23, 67] odd values

In [28]:
# SETS : Unique and distinct values which do not preserve the order. Are comma(,) separated values stored in curly braces '{}'

In [34]:
set1 = {} # EMPTY SET
print(set1)
print(type(set1))

{}
<class 'dict'>

In [33]:
set2 = set()
type(set2)

set

In [42]:
set3 = {2,2,3,3,4,'adcs',(2,4,6),True,(1)} # SETS doesn't allow repeated data but allows mixed values except lists.
set3

{(2, 4, 6), 2, 3, 4, True, 'adcs'}

In [43]:
set4 = {3,4,2,5,34,34,23,22,-1,-12,-100}
set4

{-100, -12, -1, 2, 3, 4, 5, 22, 23, 34}

In [49]:
set4.add(99) # Adds only 1 value
set4

{-1, -100, -12, 2, 22, 23, 3, 34, 4, 5, 6, 66, 88, 99, 'python'}

In [46]:
set4.add("python")
set4

{-1, -100, -12, 2, 22, 23, 3, 34, 4, 5, 99, 'python'}

In [50]:
set4.update((88,99,66)) # Adds more than 1 values.
set4

{-1, -100, -12, 2, 22, 23, 3, 34, 4, 5, 6, 66, 88, 99, 'python'}

In [57]:
# REMOVE : Eliminates the value and gives error after re-run.

set4.remove(99)
set4

KeyError: 99

In [56]:
set4.discard(99) # Even if value is missing, it will show the set.
set4

{-1, -100, -12, 2, 22, 23, 3, 34, 4, 5, 6, 66, 88, 'python'}

In [59]:
set4.discard((66,88))
set4

{-1, -100, -12, 2, 22, 23, 3, 34, 4, 5, 6, 66, 88, 'python'}

In [62]:
x = [101,-100,789,22,3] # Deleting or removing can be performed through 'for' loop method.

for i in x:
    set4.discard(i)

In [61]:
set4

{-1, -12, 2, 23, 34, 4, 5, 6, 66, 88, 'python'}

In [73]:
# UNION - Gives output of all values except duplicates.

In [66]:
A = (3,4,5,12,756,-100,'abc')
B = (3,4,5,6,12,100,'xyz')

setA = set(A)
setB = set(B)

print(setA)
print(setB)

{3, 4, 5, 12, 756, 'abc', -100}
{3, 4, 5, 6, 100, 12, 'xyz'}

In [67]:
setA.union(setB)

{-100, 100, 12, 3, 4, 5, 6, 756, 'abc', 'xyz'}

In [68]:
setA | setB

{-100, 100, 12, 3, 4, 5, 6, 756, 'abc', 'xyz'}

In [74]:
# INTERSECTION - Gives only duplicate values of the set.

In [71]:
setA.intersection(setB)

{3, 4, 5, 12}

In [72]:
setA & setB

{3, 4, 5, 12}

In [79]:
# DIFFERENCE - Gives the unique values of the sets.

In [77]:
setA.difference(setB)

{-100, 756, 'abc'}

In [78]:
setA - setB

{-100, 756, 'abc'}

In [ ]:
# DICTIONARIES : Collection of elements which iis stored as key and value pairs with key = unique and value = repeated.

In [80]:
new = {'name':'A','age':23,'city':'Nashik'}
new

{'name': 'A', 'age': 23, 'city': 'Nashik'}

In [81]:
len(new)

3

In [82]:
new.keys()

dict_keys(['name', 'age', 'city'])

In [84]:
new.values()

dict_values(['A', 23, 'Nashik'])

In [85]:
new_dict = {'name':['eric','priya','Kshitij','Vansh','Rohan'], 
           'age': [21,22,23,24,25],
           'city': ['Bombay','Chennai','Pune','Delhi','Gujaraat']}
new_dict

{'name': ['eric', 'priya', 'Kshitij', 'Vansh', 'Rohan'],
 'age': [21, 22, 23, 24, 25],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Gujaraat']}

In [87]:
new_dict['name'][2:5] # This is an eg of KEY INDEXING.

['Kshitij', 'Vansh', 'Rohan']

In [88]:
new_dict['name'][-1]

'Rohan'

In [89]:
new_dict['city'][-2]

'Delhi'

In [91]:
# CONVERT TO DATA-FRAME

In [92]:
import pandas as pd

In [93]:
data = pd.DataFrame(new_dict)
data

      name  age      city
0     eric   21    Bombay
1    priya   22   Chennai
2  Kshitij   23      Pune
3    Vansh   24     Delhi
4    Rohan   25  Gujaraat

In [95]:
new_dict = {'name':['eric','priya','Kshitij','Vansh','Rohan'], 
           'age': [21,22,23,24,25],
           'city': ['Bombay','Chennai','Pune','Delhi','Gujaraat'],
           'age': [31,32,33,34,35]}

In [96]:
data1 = pd.DataFrame(new_dict)
data1

      name  age      city
0     eric   31    Bombay
1    priya   32   Chennai
2  Kshitij   33      Pune
3    Vansh   34     Delhi
4    Rohan   35  Gujaraat

In [97]:
data1.shape

(5, 3)

In [98]:
m={'name':'Abc','age':21}

In [100]:
m['age']=25 # This method works as lists and dictionaries help for editing of data.
print(m)

{'name': 'Abc', 'age': 25}

In [102]:
m['address'] = 'Mumbai'
print(m)

{'name': 'Abc', 'age': 25, 'address': 'Mumbai'}

In [103]:
new_dict

{'name': ['eric', 'priya', 'Kshitij', 'Vansh', 'Rohan'],
 'age': [31, 32, 33, 34, 35],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Gujaraat']}

In [104]:
del new_dict['name'][2]

In [105]:
new_dict

{'name': ['eric', 'priya', 'Vansh', 'Rohan'],
 'age': [31, 32, 33, 34, 35],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Gujaraat']}

In [106]:
new_dict['city'][4]='Telangana'
new_dict

{'name': ['eric', 'priya', 'Vansh', 'Rohan'],
 'age': [31, 32, 33, 34, 35],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Telangana']}

In [107]:
new_dict['name'].append('Vaibhav')
new_dict

{'name': ['eric', 'priya', 'Vansh', 'Rohan', 'Vaibhav'],
 'age': [31, 32, 33, 34, 35],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Telangana']}

In [108]:
new_dict['name'].insert(3,'Vinay')
new_dict

{'name': ['eric', 'priya', 'Vansh', 'Vinay', 'Rohan', 'Vaibhav'],
 'age': [31, 32, 33, 34, 35],
 'city': ['Bombay', 'Chennai', 'Pune', 'Delhi', 'Telangana']}

In [109]:
# METHODS OD DICTIONARY

In [110]:
# Clear

In [111]:
dict1 = {1:'python',2:'java',3:'c++',4:'php'}
dict1

{1: 'python', 2: 'java', 3: 'c++', 4: 'php'}

In [112]:
dict1.clear()
dict1

{}

In [115]:
dict1 = {1:'python',2:'java',3:'c++',4:'php'}
dict2 = dict1.copy()
print(dict2)

{1: 'python', 2: 'java', 3: 'c++', 4: 'php'}

In [116]:
dict2

{1: 'python', 2: 'java', 3: 'c++', 4: 'php'}

In [117]:
# ITEM

In [1]:
dict1 = {1:'python',2:'java',3:'c++',4:'php'}
print(dict1.items())
len(dict1)

dict_items([(1, 'python'), (2, 'java'), (3, 'c++'), (4, 'php')])

4